## Build artifacts
bin/
obj/
out/
publish/

## Avalonia / Rider / VSCode
*.user
*.suo
*.tmp
*.log
*.DS_Store

## IDE folders
.vscode/
.idea/
.vs/

## System files
Thumbs.db
desktop.ini

## Backup files
*.bak
*.old
*.orig

## Dotnet specific
project.lock.json
*.nuget.props
*.nuget.targets
